@import '../../../../styles/theme.scss';

.mat-drawer-content,
.mat-sidenav-content {
  height: calc(100vh - 120px);
}
.mat-drawer-content {
  padding: 28px 28px;
  overflow-x: hidden;
}
.mat-drawer,
.mat-sidenav {
  width: 260px;
}
.mat-list-item.active {
  position: relative;
  background: #505050;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: $color-primary;
  }
}
.user-menu {
  margin-left: auto;
  .user-name {
    font-size: 16px;
    position: relative;
    top: 1px;
    right: 4px;
  }
}
